<% include partials/header %>

<div class="jumbotron">
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color1"><img src="icons/work.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color2"><img src="icons/dog.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color4"><img src="icons/volleyball.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color3"><img src="icons/bubble-tea.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color4"><img src="icons/nature.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color3"><img src="icons/volunteer.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color1"><img src="icons/media.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="/under-construction"><span class="circle color2"><img src="icons/diy.svg"></span></a>
	</div>
</div>