<% include partials/header %>

<div class="jumbotron">
  <div>
  	<h1 class="display-4">Something that might interest someone…</h1>
  </div>
  <div>
  	<div>
  		<p class="lead">I am not sure where I want to take this website, but I hope that once I start something that it will lead to something else. This website will encompass everything and anything that sparks my interest.</p>
  	</div>
  </div>
  <a class="about-me-btn btn-lg" href="/about-me" role="button">About Me</a>
</div>
<div class="container-fluid">
  <div class="row">
    <div onclick="location.href='/under-construction';" class="col-md-3 col-sm-6 item-box color1">
      <div class="item"><img src="icons/projects.svg"><h4>PROJECTS</h4></div>
    </div>
    <div onclick="location.href='/under-construction';" class="col-md-3 col-sm-6 item-box color2">
    	<div class="item"><img src="icons/blog.svg"><h4>BLOG</h4></div>
    </div>
    <div onclick="location.href='/under-construction';" class="col-md-3 col-sm-6 item-box color3">
    	<div class="item"><img src="icons/gallery.svg"><h4>GALLERY</h4></div>
    </div>
    <div onclick="location.href='/under-construction';" class="col-md-3 col-sm-6 item-box color4">
    	<div class="item"><img src="icons/social-media.svg"><h4>SOCIAL MEDIA</h4></div>
    </div>
  </div>
 </div>