<% include partials/header %>

<div class="jumbotron-2">
	<h1>Follow me on social media:</h1>
	<div class="circle-layout">
		<a href="https://twitter.com/quynhergy"><span class="circle color4"><img src="icons/twitter.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="https://www.instagram.com/quynhergy/"><span class="circle color2"><img src="icons/instagram.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="https://www.linkedin.com/in/qpnguyen/"><span class="circle color1"><img src="icons/linkedin.svg"></span></a>
	</div>
	<div class="circle-layout">
		<a href="https://www.facebook.com/quynhergy"><span class="circle color3"><img src="icons/facebook.svg"></span></a>
	</div>
</div>

<% include partials/footer %>