<% include partials/header %>

<div class="jumbotron-2">
	<img src="icons/construction1.svg">
	<img src="icons/construction2.svg">
	<img src="icons/construction3.svg">
	<img src="icons/construction4.svg">
	<h1 class="uc-text">COMMING SOON...</h1>
</div>