body {
	font-family: 'Work Sans', sans-serif;
}

.navbar {
	background-color: #C5B7A7;
	height: 60px;
}

.navbar-brand {
	color: #FFFFFF;
}

.jumbotron {
	background-color: #FFFFFF;
	text-align: center;
	padding: 24px;
	margin: 60px 0 0 0;
}

.about-me-btn {
	background-color: #C5B7A7;
	color: #FFFFFF; 
}

.item-box {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  text-align: center;

	color: #FFFFFF;
	height: 300px;
}

.item {
	display: block;
}

img {
	height: 160px;
	width: 160px;
	padding-bottom: 10px;
	padding-top: 10px

}

.color1 {
	background-color: #DCCDEE;
}

.color2 {
	background-color: #EFD3D4;
}

.color3 {
	background-color: #9FB7D0;
}

.color4 {
	background-color: #C1CFC5;
}

@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }
@media all and (min-width: 600px)  {  body  { font-size:1.2em;  } }
@media all and (min-width: 700px)  {  body  { font-size:1.4em;  } }
@media all and (min-width: 800px)  {  body  { font-size:1.6em;  } }
@media all and (min-width: 900px)  {  body  { font-size:1.8em;  } }
@media all and (min-width: 1000px) {  body  { font-size:2.0em;  } }
@media all and (min-width: 1100px) {  body  { font-size:2.2em;  } }
@media all and (min-width: 1200px) {  body  { font-size:2.4em;  } }
@media all and (min-width: 1300px) {  body  { font-size:2.6em;  } }
@media all and (min-width: 1400px) {  body  { font-size:2.8em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.0em;  } }
@media all and (min-width: 1500px) {  body  { font-size:3.2em;  } }
@media all and (min-width: 1600px) {  body  { font-size:3.4em;  } }
@media all and (min-width: 1700px) {  body  { font-size:3.6em;  } }